body {
  margin: 0;
  background-image: url('./components/assets/background-img.jpg');
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  width: 70%;
  margin: auto;
  margin-top: 50px;
  color: white;
}

.buttons-container {
  margin-top: 20px;
}

.next-question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
